/*structure*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    background-color: #F7EDD0;
}
header{
    justify-content: space-between;
    background-color: #947360;
    padding: 4px;
    border-bottom: 2px solid black;
}
footer{
    margin: none;
    max-height:fit-content;
    text-align: center;
    justify-content: center;

}
main{
    border: 1px solid black;
}
#bot-nav a{
    text-decoration:none;
    color: black;
    font-weight: 500;
}
#bot-nav li{
    list-style: none;
    background-color: #F7EDD0;
    border: 4px solid black;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
#main-nav li{
    list-style: none;
    background-color: #F7EDD0;
    border: 4px solid black;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
/* Main Section */
main {
    padding: 20px;
    background: #fff;
    width: 80%;
    margin: 20px auto;
}


/* Form Styles */
.form {
    margin-bottom: 20px;
    background: #f8f8f8;
    padding: 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #A1AFA0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #6d756c;
}

/* Responsive iframe container */
.responsive-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-bottom: 20px;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#hamburger{
    padding: 8px;
}
#hamburger div{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 6px;
}

.hide{
    display: none;
}


/*typography*/
#main-nav a{
    text-decoration:none;
    color: black;
    font-weight: 500;
}


/*resolution / flex*/
@media(min-width: 760px){
    .flexcontainer{
        display: flex;
    
    }
    #hamburger{
        display: none;
    }
}
.col{
    flex: 1;
}
