body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    background-color: #F7EDD0;
}
header{
    justify-content: space-between;
    background-color: #947360;
    padding: 4px;
    border-bottom: 2px solid black;
}
img{
    max-width: 50%;
    max-height: 50%px;
    
}
#main-nav li{
    list-style: none;
    background-color: #F7EDD0;
    border: 4px solid black;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
#main-nav a{
    text-decoration:none;
    color: black;
    font-weight: 500;
}
#top5
{
    display: flex;
    background-color:#A1AFA0;
    padding: 4px;
    border: 2px solid black;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
#bot-nav a{
    text-decoration:none;
    color: black;
    font-weight: 500;
}
#bot-nav li{
    list-style: none;
    background-color: #F7EDD0;
    border: 4px solid black;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
.art-item{
    flex: 0 0 48%; 
    margin: 1%; 
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
}
footer{
    margin: none;
    max-height:fit-content;
    border-top: 1px solid black;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#subhead{
    padding-left: 5px;
}
.row{
flex-direction: row;
padding-top: 45px;
padding-bottom: 45px;
}
.row section{
    padding-left: 6px;
}
.row img{
    align-self: center;
    width: 250px;
    height: auto;
}
#history{
    background-color: #A1AFA0;
    padding: 4px;
    margin-bottom: 50px;
}
#favoritesleft{
    flex: 1;
}
#favoritesright{
    flex:1;
}

#favs{
    background-color: #947360;;
    justify-self: flex-end;
}
#info{
    display: flex;
    flex-direction: column;
   flex: 1;
   justify-content: space-between;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
}
#hamburger{
    padding: 8px;
}
#hamburger div{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 6px;
}

.hide{
    display: none;
}
.decade{
    padding: 20px;
    flex: 1;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .form {
    margin-bottom: 20px;
    background: #f8f8f8;
    padding: 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #947360;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #6d756c;
}



/*Typography*/
h2{
    text-align: center;
}
#gentitle, #arrow{
    font-size: 65px;
    max-height: 0;
    display: block;
}
p{
    padding: 5px;
}

/*flex*/
@media(min-width: 1300px){
    .flexcontainer, .row{
        display: flex;
    }
    .columnflex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #hamburger{
        display: none;
    }
    
    #favs{
        flex-direction: column;
        justify-content: space-evenly;
        align-items:stretch;
    }
  
}
